.card {
    border: 1px solid #DBDBDB;
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    padding: 25px 45px;
}

.marginTop {
    margin-top: 50px;
}