.app_dark {
    --main-color: #080808;
    --main-color-body: #000;
    --inverted-main-color: #fafafa;
    --error: #f45a3b;
    --border: #dbdbdb; 
    --text-color: #fafafa;
    --blue_500: #0095F6;
}
